<div class='card card-body bg-light'>
    <div class='container'>
            <h2 class='card-title'>New Platform</h2>
        <div class='card-body'>
            <%= render 'form', platform: @platform %>
            <%= link_to 'Back', admin_platforms_path %>
        </div>
    </div>
</div>