<% if params[:controller] =='games'%>
<div class="list-group">
    <%= link_to  "text", '', class: 'list-group-item' %>
    <%= link_to  "text", '', class: 'list-group-item' %>
    <%= link_to  "text", '', class: 'list-group-item' %>
</div>
<%end%>