<div class="card card-body container bg-light">
<h3>This is a store application that borrows video games:</h3>
<ul style="list-style-type: circle;">
    <li>Users can create accounts and manage them. There are two types of users (default and admin).</li>
    <li>A user can see the list of available games and their quantity.</li>
    <li>Games are in more categories: Xbox, PS, PC, etc. The user can filter the list to display the categories he wants.</li>
    <li>A user can borrow a game (if available).</li>
    <li>A user can return a game he borrowed.</li>
    <li>The game is retrieved by the store if the user doesn&#39;t return it.</li>
    <li>If the stock reaches 0, that game can&rsquo;t be borrowed anymore.</li>
    <li>A user cannot borrow more than 3 games at the same time.</li>
    <li>Users will have a history with their games.</li>
    <li>Users recieve nofication emails when the loan period is ending or their game was automatically returned.
    <li>The admin can add and edit games or their platforms.</li>
</ul>

</div>