<div class="card card-body container bg-light">
<h3>This is a store application that borrows video games:</h3>
<ul style="list-style-type: circle;">
    <li>Users can create accounts and manage them. There are two types of users (default and admin).</li>
    <li>A user can see the list of available games and their quantity.</li>
    <li>Games are in more categories: Xbox, PS, PC, etc. The user can filter the list to display the categories he wants.</li>
    <li>A user can borrow a game (if available).</li>
    <li>A user can return a game he borrowed.</li>
    <li>If the stock reaches 0, that game can't be borrowed anymore.</li>
    <li>A user cannot borrow more than 3 games at the same time.</li>
    <li>Users have a history with their games.</li>
   <br> 
    <li>Users recieve nofication emails when the loan period is about to end. </li>
    <li>The game is automatically returned at the end of loan period. The user recieves a notification email.</li>
    <br>
    <li>The admin can add or edit games and platforms.</li>
    <li>The loan period is set by the admin for each game. </li>
    <li>An admin can manage users with admin level lower than his. </li>
</ul>

</div>